.env
.venv
.idea
*.log*
log.txt*
.ignore
todo.txt
logs
VENV
__pycache__
*.pyc
*.pyo
*.pyd
*.swp
.DS_Store
*.egg-info
dist
build
*.egg
*.tar.gz
*.zip
*.log
*.bak
*.tmp
*.cache
*.coverage
.coverage.*
htmlcov
.tox
.nox
.pytest_cache       