.env
.venv
.idea
*.log*
log.txt*
.ignore
todo.txt
logs
VENV
.VENV
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.sqlite3
*.db
*.sqlite
*.db3
*.bak
*.backup
*.log
*.tmp
*.swp
*.swo
*.DS_Store
*.egg-info/
dist/
